
local
*.log
*.jar

# generated
*.png
*.pdf

# from spring initializr https://start.spring.io/ project template
# maven
target/

### Eclipse,STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# from https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
# macOS General
.DS_Store
